.card-wrapper {
  margin-top: 3rem;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.posts-grid>* {
  flex: 0 0 calc(33.333% - 14px);
}


@media (max-width: 1024px) {

  .posts-grid>* {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 780px) {

  .posts-grid>* {
    flex: 0 0 100%;
  }

}

.not-found,
.loading {
  text-align: center;
  font-size: 1.125rem;
  color: #666;
  margin: 3rem 0;
}