body,
html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  touch-action: manipulation;
  margin: 0;
  padding: 0;
}

p,
h1 {
  font-family: Roboto;
}


.main {
  max-width: 72.5rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding: 2rem 1rem;
}

@media (max-width: 768px) {

  .main {
    margin-top: -3rem;
  }
}